<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="users">
         Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-menu">
         Menu
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="meals">
          Meals
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="meal-type">
          Meal Type
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="meal-size">
          Meal Size
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="orders">
         Orders
        </a>
      </li>
    </ul>
  </div>
</nav>