.navbar-brand {
  margin-left: 40px;
  color: #4e763b;
  i {
    color: #4e763b;
    font-size: 15px;
    margin-right: 5px;
  }
}
ul li a {
  i {
    color: #4e763b;
    font-size: 15px;
    margin-right: 5px;
  }
}
a.nav-link.logout {
  margin-right: 10px;
}
